{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
